
<div class="footer">
    <div class="container">
        <div class="footer-top clearfix">
            <div class="col1">
                <div class="footer-label">Doanh nghiệp</div>
                <div class="footer-content">
                    <ul>
                        <li><a href="vi/cau-chuyen-traphaco.html" title="Lịch sử phát triển">Lịch sử phát triển</a></li>
                        <li><a href="vi/tam-nhin-su-menh.html" title="Tầm nhìn, sứ mệnh">Tầm nhìn, sứ mệnh</a></li>
                        <li><a href="vi/tam-nhin-su-menh.html" title="Giá trị cốt lõi">Giá trị cốt lõi</a></li>
                        <li><a href="vi/co-cau-to-chuc.html" title="Đội ngũ lãnh đạo">Đội ngũ lãnh đạo</a></li>
                        <li><a href="vi/cong-ty-thanh-vien.html" title="Công ty thành viên">Công ty thành viên</a></li>
                        <li><a href="vi/danh-hieu-giai-thuong.html" title="Danh hiệu giải thưởng">Danh hiệu giải thưởng</a></li>
                    </ul>
                </div><!-- footer-content -->
            </div><!-- col -->
            <div class="col2">
                <div class="footer-label">Sản phẩm</div>
                <div class="footer-content">
                    <ul>
                        <li><a href="vi/san-pham/duoc-pham-1.html" title="Dược phẩm">Dược phẩm</a></li>
                        <li><a href="vi/san-pham/thuc-pham-chuc-nang-2.html" title="Thực phẩm chức năng">Thực phẩm chức năng</a></li>
                        <li><a href="vi/san-pham/my-pham-3.html" title="Mỹ phẩm">Mỹ phẩm</a></li>
                        <li><a href="vi/san-pham/san-pham-nhap-khau-4.html" title="Sản phẩm nhập khẩu">Sản phẩm nhập khẩu</a></li>
                    </ul>
                </div><!-- footer-content -->
            </div><!-- col -->
            <span class="footer-mobile-line"></span>
            <div class="col3">
                <div class="footer-label">Khỏe từ thiên nhiên</div>
                <div class="footer-content">
                    <ul>
                        <li><a href="vi/tin-tuc/song-vui-song-khoe/9.html" title="Sống vui sống khỏe">Sống vui sống khỏe</a></li>
                        <li><a href="vi/tin-tuc/suc-khoe-thuong-gap/10.html" title="Sức khỏe thường gặp">Sức khỏe thường gặp</a></li>
                        <li><a href="vi/tin-tuc/cay-thuoc-quy/11.html" title="Cây thuốc quý">Cây thuốc quý</a></li>
                        <li><a href="javascript:void(0);">Hỏi đáp sức khỏe</a></li>
                    </ul>
                </div><!-- footer-content -->
            </div><!-- col -->
            <div class="col4">
                <div class="footer-label">Website liên kết</div>
                <div class="footer-content">
                    <ul>
                        <li><a class="text-uppercase" href="http://boganic.vn/" target="_blank">Boganic</a></li>
                        <li><a class="text-uppercase" href="http://cebraton.vn/" target="_blank">Cebraton</a></li>
                        <li><a class="text-uppercase" href="http://www.tottri.vn/" target="_blank">Tottri</a></li>
                        <li><a class="text-uppercase" href="http://www.chamsoctreem.vn/" target="_blank">Chăm sóc trẻ em</a></li>
                    </ul>
                </div><!-- footer-content -->
            </div><!-- col -->

            <div class="col5">
                <div class="footer-label">Chứng nhận chất lượng</div>
                <div class="footer-content">
                    <ul class="footer-verify">
                        <li><img src="/assets/7802a60d/img/footer-verify1.png" alt="verify" /></li>
                        <li><img src="/assets/7802a60d/img/footer-verify2.png" alt="verify" /></li>
                        <li><img src="/assets/7802a60d/img/footer-verify3.png" alt="verify" /></li>
                        <li><img src="/assets/7802a60d/img/footer-verify4.png" alt="verify" /></li>
                    </ul>
                </div><!-- footer-content -->
            </div><!-- col -->
        </div><!-- footer-top -->
        <div class="footer-bottom">
            <div class="footer-bottom-title">Công ty cổ phần Hanvet</div>
            <div class="footer-bottom-content">
                <p>Trụ sở: 88 Trường Chinh, Hà Nội, Việt Nam</p>
                <p>ĐT:  (844) 3868.5996 - Fax: (844) 3869.0097  |  E-mail: hanvet@fpt.vn</p>
            </div>
            <div class="footer-share">
                <a href="https://www.facebook.com/TraphacoConduongSuckhoeXanh/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/user/TraphacoJSC" target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href="https://plus.google.com/110733589293169430844" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
            <div class="footer-register"><a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=19210" title="Bộ công thương" target="_blank"><img src="/assets/7802a60d/custom/bocongthuong.png" align="Bộ công thương" /></a></div>
            <div class="footer-brand"><a href="javascript:void(0);" title="Brand"><img src="/assets/7802a60d/img/footer-brand.png" align="brand" /></a></div>
        </div><!-- footer-bottom -->
    </div><!-- container -->
    <div class="copyright">
        <div class="container">
            Copyright © 2018 Hanvet Company.
        </div><!-- container -->
    </div><!-- copyright -->
</div><!-- footer -->