@{
    Layout = null;
}
<html lang="en">

<!-- Mirrored from www.traphaco.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 31 Mar 2018 09:45:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>


    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Template" />
    <meta name="COPYRIGHT" content="&copy; Template" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="google" content="notranslate" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/assets/7802a60d/img/favicon.ico" />
    <title>Traphaco</title>


    <!-- Core CSS -->
    <link href="/assets/7802a60d/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/fotorama.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/swiper.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/animate.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/style.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/custom.css" rel="stylesheet" />
    <link href="/assets/7802a60d/custom/mine.css" rel="stylesheet" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Html.Partial("_Header")   
    @RenderBody()
    @Html.Partial("_Footer")
    <div class="go-top"><i class="icon16-arow-top"></i></div>


    <script type="text/javascript">
        var productCategories = [{ "parent_id": "0", "id": "1", "product_category_id": "1", "name": "D\u01b0\u1ee3c ph\u1ea9m", "order": "1", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "0", "id": "3", "product_category_id": "2", "name": "Th\u1ef1c ph\u1ea9m ch\u1ee9c n\u0103ng", "order": "3", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "0", "id": "5", "product_category_id": "3", "name": "M\u1ef9 ph\u1ea9m", "order": "4", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "0", "id": "7", "product_category_id": "4", "name": "S\u1ea3n ph\u1ea9m nh\u1eadp kh\u1ea9u", "order": "5", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "11", "product_category_id": "6", "name": "Acid amin - vitamin & kho\u00e1ng ch\u1ea5t", "order": "1", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "13", "product_category_id": "7", "name": "Thu\u1ed1c an th\u1ea7n", "order": "2", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "15", "product_category_id": "8", "name": "Thu\u1ed1c b\u1ed5 t\u1eeb d\u01b0\u1ee3c li\u1ec7u", "order": "3", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "17", "product_category_id": "9", "name": "Thu\u1ed1c ch\u1ed1ng vi\u00eam d\u1ea1ng men", "order": "4", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "19", "product_category_id": "10", "name": "Thu\u1ed1c d\u00f9ng cho m\u0169i-mi\u1ec7ng-h\u1ecdng", "order": "5", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "21", "product_category_id": "11", "name": "Thu\u1ed1c d\u00f9ng cho m\u1eaft", "order": "6", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "23", "product_category_id": "12", "name": "Thu\u1ed1c d\u00f9ng ngo\u00e0i da", "order": "7", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "25", "product_category_id": "13", "name": "Thu\u1ed1c gi\u1ea3m \u0111au - ch\u1ed1ng vi\u00eam", "order": "7", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "27", "product_category_id": "14", "name": "Thu\u1ed1c h\u01b0\u1edbng th\u1ea7n kinh", "order": "8", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "29", "product_category_id": "15", "name": "Thu\u1ed1c kh\u00e1ng histamin", "order": "9", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "31", "product_category_id": "16", "name": "Thu\u1ed1c kh\u00e1ng k\u00ed sinh tr\u00f9ng", "order": "10", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "33", "product_category_id": "17", "name": "Thu\u1ed1c kh\u00e1ng n\u1ea5m", "order": "11", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "35", "product_category_id": "18", "name": "Thu\u1ed1c kh\u00e1ng sinh", "order": "12", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "37", "product_category_id": "19", "name": "Thu\u1ed1c kh\u00e1ng virus", "order": "13", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "39", "product_category_id": "20", "name": "Thu\u1ed1c ph\u1ee5 khoa", "order": "14", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "41", "product_category_id": "21", "name": "Thu\u1ed1c s\u00e1t tr\u00f9ng", "order": "15", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "43", "product_category_id": "22", "name": "Thu\u1ed1c tim m\u1ea1ch - tu\u1ea7n ho\u00e0n", "order": "16", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "45", "product_category_id": "23", "name": "Thu\u1ed1c ti\u00eau h\u00f3a", "order": "17", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "47", "product_category_id": "24", "name": "Thu\u1ed1c t\u0103ng c\u01b0\u1eddng mi\u1ec5n d\u1ecbch v\u00e0 ch\u1ed1ng oxi h\u00f3a", "order": "18", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "49", "product_category_id": "25", "name": "Thu\u1ed1c x\u01b0\u01a1ng kh\u1edbp", "order": "19", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }, { "parent_id": "1", "id": "51", "product_category_id": "26", "name": "Thu\u1ed1c \u0111\u01b0\u1eddng h\u00f4 h\u1ea5p", "order": "20", "published": "1", "created_by": "1", "modified_by": "1", "lang_id": "1" }];
    </script>
    <script type="text/javascript">
        // Url
        var assetsUrl = '/assets/7802a60d/';
        var uploadUrl = '/upload/index.html';
        var sendContactUrl = 'home/sendContacte034.html?lang=vi';
        var contactUrl = 'vi/lien-he.html';
        var searchUrl = 'vi/tin-tuc.html';
        var shareholderUrl = 'vi/tin-tuc-co-dong.html';
        var loginUrl = 'home/ajaxLogine034.html?lang=vi';
        var downloadUrl = 'home/logine034.html?lang=vi';
        var historyUrl = 'vi/cau-chuyen-traphaco.html';
        var leaderUrl = 'vi/co-cau-to-chuc.html';
        var visionUrl = 'vi/tam-nhin-su-menh.html';
        var prizeUrl = 'vi/danh-hieu-giai-thuong.html';
        var productUrl = 'vi/san-pham.html';
        var newsUrl = 'vi/tin-tuc.html';
        var loadVideoUrl = 'home/VideoGetLink';
        var loadPrizeUrl = 'ajax/loadPrizee034.html?lang=vi';
        var loadStaffUrl = 'ajax/loadStaffe034.html?lang=vi';
        var loadBranchUrl = 'ajax/loadBranche034.html?lang=vi';
        var loadAgencyUrl = 'ajax/loadAgencye034.html?lang=vi';
        var loadGalleryUrl = 'ajax/loadGallerye034.html?lang=vi';
        var loadShareHolderUrl = 'ajax/loadShareHoldere034.html?lang=vi';

        // Message
        var please_type_email = 'Vui lòng nhập email !';
        var email_invalid = 'Email không hợp lệ, vui lòng kiểm tra lại !';
        var please_type_name = 'Vui lòng nhập tên !';
        var please_type_phone = 'Vui lòng nhập số điện thoại !';
        var phone_invalid = 'Số điện thoại không hợp lệ, vui lòng kiểm tra lại !';
        var phone_range_require = 'Số điện thoại chỉ được phép từ 10 đến 15 số !';
        var please_type_title = 'Vui lòng nhập tiêu đề';
        var please_type_content = 'Vui lòng nhập nội dung !';
        var please_type_keyword = 'Vui lòng nhập từ khóa !';
        var keyword_least = 'Vui lòng nhập ít nhất 3 kí tự !';
        var please_type_username = 'Vui lòng nhập tên đăng nhập !';
        var please_type_password = 'Vui lòng nhập mật khẩu !';
    </script>

    <!-- Core JavaScript -->
    <script src="/assets/7802a60d/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/7802a60d/js/bootstrap.min.js"></script>
    <script src="/assets/7802a60d/js/owl.carousel.min.js"></script>
    <script src="/assets/7802a60d/js/owl.carousel2.thumbs.min.js"></script>
    <script src="/assets/7802a60d/js/fotorama.js"></script>
    <script src="/assets/7802a60d/js/jquery.inview.js"></script>
    <script src="/assets/7802a60d/js/jquery.countTo.js"></script>
    <script src="/assets/7802a60d/js/swiper.min.js"></script>
    <script src="/assets/7802a60d/js/common.js"></script>
    <script src="/assets/7802a60d/custom/bootbox.min.js"></script>
    <script src="/assets/7802a60d/custom/mine.js"></script>

    <!-- Js only video in homepage -->
    <script src="/assets/7802a60d/js/jquery.videobackground.js"></script>
    @*<script language="javascript">
            // jQuery method on
            //    var heartslider2 = $('#heartslider');
            //    heartslider2.on('changed.owl.carousel', function (property) {
            //        var current = property.item.index;
            //        var src = $(property.target).find(".ms-item-padding").eq(current).attr('datatr');
            //        homeVideo(src);
            //    });

            //function video background
            var homeVideo = function (source) {
                //console.log(source);
                $('.video-background').videobackground({
                    //videoSource: ['/video/'+ source +'.mp4', 'video/mp4'],
                    videoSource: ['/upload/banner/thumbs/098cdb05934e422132c582aa8ad20c0a.png', 'img'],
                    //[
                    //['//assets/7802a60d/video/Slide1.mp4', 'video/mp4'],
                    //['//assets/7802a60d/video/Slide2.mp4', 'video/mp4'],
                    //['//assets/7802a60d/video/traphaco-intro.mp4', 'video/mp4'],
                    //['//assets/7802a60d/video/traphaco-intro.webm', 'video/webm'],
                    //['//assets/7802a60d/video/traphaco-intro.ogv', 'video/ogg']
                    //],
                    poster: '/upload/banner/thumbs/098cdb05934e422132c582aa8ad20c0a.png',
                    loadedCallback: function () {
                        $(this).videobackground('mute');
                    },
                    loop: true
                });
            };
            $(document).ready(function () {
                //video background init
                homeVideo('traphaco-intro');
            });
            $(window).on('resize', function () {
                //video background init
                homeVideo('traphaco-intro');
            });
            //    $(document).on('click', '.scroll-down', function () {
            //        //video background init
            //        console.log('aaaa');
            //        homeVideo('Slide3');
            //    });
        </script>*@


    @RenderSection("Script",false)


</body>
<!-- Mirrored from www.traphaco.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 31 Mar 2018 09:52:00 GMT -->
</html>